@use 'base.scss' as *;

.wrapper {
	margin-inline: 1.5rem;
}

.grid {
	display: grid;
	gap: var(--content-spacing, 1rem);
}

.flex-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
